* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.g-main {
    width: 1006px;
    margin: 0 auto;
}

.g-main>img {
    position: absolute;
    opacity: 0.6;
}

.m-nav {
    height: 72px;
    width: 100%;
    background-color: #018ceb;
    color: #fff;
}

.m-nav .m-log {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    padding-right: 70px;
}

.m-nav .m-navs {
    height: 28px;
    display: flex;
    padding: 0px 70px;
}

.m-nav .m-navs li {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-nav .m-navs li .u-item {
    padding: 10px;
    box-sizing: content-box;
    width: 46px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-nav .m-navs li .u-item:hover {
    background-color: #0169b0;
    cursor: pointer;
}

.m-nav .m-navs .m-search {
    font-size: 12px;
    color: black;
    background-color: #fff;
    width: 200px;
    height: 23px;
    display: flex;
    margin-left: auto;
}

.m-nav .m-navs .m-search .u-info {
    height: 100%;
    width: 45px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-nav .m-navs .m-search .u-search {
    height: 100%;
    width: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-main {
    padding: 20px 73px;
    display: flex;
}

.m-main .m-left {
    width: 569px;
}

.m-main .m-left .u-l1 {
    width: 100%;
    height: 223px;
    background-color: gray;
}

.m-main .m-left .u-text {
    width: 100%;
    height: 18px;
    margin-top: 18px;
    margin-bottom: 3px;
    font-size: 16px;
}

.m-main .m-left .m-ma {
    width: 100%;
    margin-top: 10px;
    border: 1px solid lightgray;
}

.m-main .m-left .m-ma .m-l1 {
    height: 173px;
    display: flex;
    padding: 4px 12px;
    width: 100%;
}

h5 {
    margin-bottom: 14px;
}

.m-main .m-left .m-ma .m-l1 .m-le {
    margin-top: 11px;
    width: 66.66%;
    border-right: 1px solid gray;
}

.m-main .m-left .m-ma .m-l1 .m-le p {
    text-indent: 2em;
    width: 345px;
    word-break: break-all;
    margin-bottom: 30px;
}

.m-main .m-left .m-ma .m-l1 .m-le span {
    font-size: 13px;
    margin-right: 4px;
}

.m-main .m-left .m-ma .m-l1 .m-ri .u-it {
    width: 161px;
    height: 90px;
    background-color: #666;
}

.m-main .m-left .m-ma .m-ri {
    width: 33.3%;
    display: flex;
    flex-flow: column;
    padding: 13px 0px 0px 16px;
}

.m-main .m-left .m-ma .m-ri p {
    margin-bottom: 19px;
}

.m-main .m-left .m-ma .m-l2 {
    display: flex;
    height: 173px;
    width: 100%;
}

.m-main .m-left .m-ma .m-l2 .m-item {
    padding: 14px 0 0 11px;
    width: 33.1%;
    height: 100%;
    border: 1px solid lightgray;
    border-right: 0;
    font-size: 13px;
}

.m-main .m-left .m-ma .m-l2 .m-item .u-it {
    width: 161px;
    height: 89px;
    background-color: #666;
    margin-bottom: 5px;
}

.m-main .m-left .m-ma .m-l2 .m-item .u-itt {
    position: relative;
    width: 161px;
    height: 89px;
    background-color: #666;
    margin-bottom: 3px;
}

.m-main .m-left .m-ma .m-l2 .m-item .u-itt .u-bf {
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid #fff;
    border-radius: 22px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3px;
    left: 3px;
    cursor: pointer;
}

.m-main .m-left .m-ma .m-l2 .m-item .u-contentt {
    margin-bottom: 20px;
}

.m-main .m-left .m-ma .m-l2 .m-item .u-ppt {
    width: 25px;
    height: 15px;
    background-color: #fd783d;
    color: #fff;
}

.m-main .m-left .m-ma .m-l2 .m-item span {
    margin-right: 5px;
}

.m-main .m-left .m-ma .m-l3 {
    display: flex;
    height: 233px;
    width: 100%;
}

.m-main .m-left .m-ma .m-l3 .m-item {
    padding: 14px 0 0 13px;
    width: 49.5%;
    height: 100%;
    border: 1px solid lightgray;
    border-right: 0;
    font-size: 13px;
}

.m-main .m-left .m-ma .m-l3 .m-item .u-it {
    width: 251px;
    height: 131px;
    background-color: #666;
    margin-bottom: 5px;
}

.m-main .m-left .m-ma .m-l3 .m-item .u-content {
    margin-bottom: 37px;
}

.m-main .m-left .m-ma .m-l3 .m-item span {
    margin-right: 5px;
}

.m-main .m-left .m-ma .m-l4 {
    width: 100%;
    height: 164px;
    display: flex;
    border-bottom: 1px solid #666;
}

.m-main .m-left .m-ma .m-l4 .m-left {
    padding: 13px 0px 0px 10px;
    height: 100%;
    width: 175px;
}

.m-main .m-left .m-ma .m-l4 .m-left .u-box {
    width: 162px;
    height: 90px;
    background-color: #666;
}

.m-main .m-left .m-ma .m-l4 .m-right {
    padding: 15px 0px 0px 15px;
    height: 100%;
    width: 390px;
}

.m-main .m-left .m-ma .m-l4 .m-right .u-content {
    margin-top: 15px;
    width: 362px;
    word-break: break-all;
    text-indent: 2em;
}

.m-main .m-left .m-ma .m-l4 .m-right .u-read span {
    font-size: 11px;
    float: right;
    margin-right: 18px;
    margin-top: 7px;
}

.m-main .m-left .m-ma .m-l4 .m-rightt {
    padding: 15px 0px 0px 15px;
    height: 100%;
    width: 560px;
}

.m-main .m-left .m-ma .m-l4 .m-rightt .u-content {
    margin-top: 15px;
    width: 534px;
    word-break: break-all;
    text-indent: 2em;
}

.m-main .m-left .m-ma .m-l4 .m-rightt .u-read span {
    display: block;
    font-size: 11px;
    float: right;
    margin-right: 18px;
    margin-top: 7px;
}

.m-main .m-right {
    padding: 0px 0px 0px 17px;
    width: 292px;
}

.m-main .m-right .m-l1 {
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
}

.m-main .m-right .m-l1 .m-main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.m-main .m-right .m-l1 .m-main .u-title {
    font-size: 12px;
    margin: 3px 0 28px 0;
}

.m-main .m-right .m-l1 .m-main .u-box {
    width: 127px;
    height: 35px;
    background-color: #009cff;
    border-radius: 5px;
    margin-bottom: 41px;
}

.m-main .m-right .m-l1 .m-main .u-line {
    border: 1px dashed gray;
    width: 230px;
}

.m-main .m-right .m-l1 .m-main .u-content {
    width: 230px;
    height: 62px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.m-main .m-right .m-l1 .m-main .u-item {
    width: 65px;
    height: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.m-main .m-right .m-l1 .m-main .u-item span {
    color: #009cff;
}

.m-main .t-title {
    height: 43px;
    width: 100%;
    display: flex;
    align-items: center;
}

.m-main .t-title .u-right {
    margin-left: auto;
}

.m-main .m-right .m-l2 {
    padding: 15px 0px 0px 16px;
    width: 100%;
    height: 221px;
    margin-bottom: 10px;
    border-bottom: 2px solid #009cff;
    border: 1px solid #666;
}

.m-main .m-right .m-l2 .u-box {
    width: 246px;
    height: 89px;
    background-color: #666;
    margin-bottom: 10px;
}

.m-main .m-right .m-l2 .u-time {
    font-size: 13px;
    margin: 1px 0 7px 0;
}

.m-main .m-right .m-l2 .u-line3 {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 3px;
}

.m-main .m-right .m-l3 {
    padding: 15px 12px 0px 16px;
    width: 100%;
    height: 194px;
    border: 1px solid #666;
}

.m-main .m-right .m-l3 .u-title {
    height: 31px;
    width: 100%;
    display: flex;
    border-bottom: 1px dashed #666;
}

.m-main .m-right .m-l3 .u-title .u-left {
    color: #009cff;
}

.m-main .m-right .m-l3 .u-title .u-right {
    margin-left: auto;
}

.m-main .m-right .m-l3 .u-box {
    width: 154px;
    height: 90px;
    background-color: #666;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.m-main .m-right .m-l3 .u-box .u-qi {
    height: 27px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    color: #f9f9f9;
    background-color: #1f1f1f;
}